<footer class="page-footer font-small bg-secondary pt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/in/sidnei-santos-mendes/" target="_blank" 
            class="icoLinkendin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          </li>

          <li>
            <a href="https://github.com/Sidnei1987" target="_blank" 
            class="icoGithub">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          </li>

          <li>
            <a href="https://wa.me/5511952690089?text=Ol%C3%A1,%20tudo%20bem%20?" target="_blank" 
            class="iconWhatsApp">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2022 Copyright :</span>
    <a class="text-light" target="_blank" href="https://www.linkedin.com/in/sidnei-santos-mendes/"> Sidnei T S Mendes</a>

  </div>

</footer>
