#img-bg{
    background-image: url('https://img.freepik.com/fotos-gratis/cachoeira-de-erawan-no-outono-tailandia-bela-cachoeira-com-piscina-esmeralda-na-natureza_335224-777.jpg?w=2000');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}